{% extends 'layout.html' %}
{% block content %}
<h1>{{ workspace.name }}</h1>

<h2>Команды:</h2>
<a href="{% url 'workspace:team_create' workspace.url_hash %}">Создать команду</a>

{% if teams %}
    <ul>
    {% for team in teams %}
        <li>
            <a href="{% url 'workspace:team_detail' workspace.url_hash team.url_hash %}">
                {{ team.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Нет команд</p>
{% endif %}

<h2>Задачи:</h2>
<a href="{% url 'workspace:task_create' workspace.url_hash %}">Создать задачу</a>
<a href="{% url 'workspace:task_list' workspace.url_hash %}">Все задачи</a>

<!-- {% if tasks %}
    <ul>
    {% for task in tasks %}
        <li>
            <a href="{% url 'workspace:task_detail' workspace.url_hash task.url_hash %}">
                {{ task.title }} ({{ task.get_status_display }})
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Нет задач</p>
{% endif %} -->

{% endblock %}
